body {
background-image: url('http://www.patsoy.com/p/2015/09/background-pattern-pt6rmrsr.jpg');

}

#main {
	font-family: sans-serif;
	background-color: white;

}
p {
	margin:0;
}

.row {
	margin:0;
}

.emails {
	margin-top:30px;
	margin-bottom:30px;
}

.email {
	color: #222;
	background: rgba(245,245,245,.8);
	border-spacing: 2px;
	border-color: gray;
	border-bottom: 1px #e5e5e5 solid;
}

.current .item {
	background:rgba(0,102,153,.9);
}

.item {
	cursor:pointer;
	padding-top: 7px;
	padding-bottom: 7px;
}

.item .sender {
	margin-left:20px;
	margin-top: 20px;
}

.item .subject-line {
	font-weight: bold;
}

.item .date {
	margin-right: 20px;
	margin-top: 20px;
}
.item .date {
	text-align:center;
}

.email-content {
	/*display:none;*/
	background-color: rgba(255,255,255,.7);
}

.item h1 {
	font-size: 18px	
}